var osc = require("osc"),
    cmd = require('node-cmd'),
    Omx = require('node-omxplayer'),
    omxplayer = Omx(),
    oldPath = '{{ media_path }}{{ default_movie }}';

/****************
 * OSC Over UDP *
 ****************/

var getIPAddresses = function () {
    var os = require("os"),
        interfaces = os.networkInterfaces(),
        ipAddresses = [];

    for (var deviceName in interfaces) {
        var addresses = interfaces[deviceName];
        for (var i = 0; i < addresses.length; i++) {
            var addressInfo = addresses[i];
            if (addressInfo.family === "IPv4" && !addressInfo.internal) {
                ipAddresses.push(addressInfo.address);
            }
        }
    }

    return ipAddresses;
};

var udpPort = new osc.UDPPort({
    localAddress: "{{ osc_listen_address }}",
    localPort: '{{ osc_listen_port }}'
});

udpPort.on("ready", function () {
    var ipAddresses = getIPAddresses();

    console.log("Listening for OSC over UDP.");
    ipAddresses.forEach(function (address) {
        console.log(" Host:", address + ", Port:", udpPort.options.localPort);
    });

    // Make the screen blank
   // cmd.run('/opt/vc/bin/tvservice -p');
   omxplayer.newSource('{{ media_path }}{{ default_movie }}', '{{ output }}', '{{ loop_mode }}', '{{ volume }}' );
});

udpPort.on("message", function (oscMessage) {
    console.log("received OSC message " + oscMessage.address + " arg[0] " + oscMessage.args[0]);
    if(oscMessage.address == '/play' ) {

        var moviePath = '{{ media_path }}' + oscMessage.args[0] + '.mp4';
        if (moviePath != oldPath ) {
          console.log("about to play " + moviePath);
          //this quit is a hack to force new source to start playing immediately 
          // otherwise omxplayer apparently waits until current movie is finished
          omxplayer.quit();
          //setTimeout(function(){
 	      omxplayer.newSource(moviePath, '{{ output }}', '{{ loop_mode }}', '{{ volume }}');
          //}, 500);
          oldPath = moviePath     
        }   
    }

//    if(oscMessage.address == '/loop') {
//        var movieIndex = '{{ media_path }}' + oscMessage.args[0] + '.mp4';
//        omxplayer.newSource(movieIndex, '{{ output }}', '{{ loop_mode }}', '{{ volume }}');
//    }

    if(oscMessage.address == '/pause' && omxplayer.running) {
        omxplayer.pause();
    }

    if(oscMessage.address == '/stop' && omxplayer.running) {
        omxplayer.quit();
    }

    if(oscMessage.address == '/cmd') {
        cmd.run(oscMessage.args[0]);
    }
});

udpPort.on("error", function (err) {
    console.log(err);
});

udpPort.open();
